<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="en">
<head th:replace="/layouts/layout :: head"></head>
<body>

<div th:replace="/layouts/layout :: nav"></div>

<div class="container my-5 py-5">
    <h3 th:text="${title}"></h3>
    <a th:href="@{/courses/create}" class="btn btn-primary my-3"><i class="bi bi-plus-lg me-3"></i>Create</a>

    <div th:if="${message}" th:classappend="${message.type == 0?'alert-danger':'alert-success'}"
         class="alert  alert-dismissible">
        <strong th:text="${message.type == 0?'Error':'Success'}"></strong> <span th:text="${message.message}"></span>
    </div>
    <hr>

    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Credits</th>
            <th>Department</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course:${courses}">
            <td th:text="${course.title}"></td>
            <td th:text="${course.credits}"></td>
            <td th:text="${course.department==null?'':course.department.name}"></td>
            <td>
                <button type="button" class="btn btn-primary w-25" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="bi bi-trash"></i>
                </button>
                <button type="button" class="btn btn-primary w-25" >
                    <a th:href="@{/courses/edit/__${course.id}__}"><i class="bi bi-pencil-square me-2 text-white"></i></a>
                </button>
            </td>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete <span class="text-primary" th:text="${course.title}">?</span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a type="button" class="btn btn-primary" th:href="@{/courses/delete/__${course.id}__}">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </tr>
        </tbody>
    </table>

</div>
<footer th:replace="/layouts/layout :: footer"></footer>
</body>
</html>
